<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Aula Virtual</title>
    <script src="login.js"></script>
</head>
<body>
    
    <form>

        <h1>Login:</h1>

        <p>
            Usuario: <input type="text" id="user">
        </p>
        <p>
            Contraseña: <input type="password" id="pass">
        </p>
        <p>
            <button type="button" onclick="valueData()" name="enviar">Enviar</button>
            <button type="reset"  name="enviar">Limpiar</button>
        </p>

    </form>


</body>
</html>