<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
    <script src="/public/assets/js/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="task.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/footer.css" />
</head>
<body>

    <script> 
        async function init() {

        const currentUser = JSON.parse(sessionStorage.getItem("user"));

        loadMenu(currentUser);

        }

        window.onload = init;
    </script>

    <!-- main menu-->
    <div id="menu">
    </div>
    

</body>
</html>