<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
    <script src="/public/assets/class/user.js"></script>
    <script src="/public/assets/class/coursesTask.js"></script>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/js/loader.js"></script>
    <script src="/public/assets/js/footer.js"></script>
    <script src="/public/view/commonViews/tasks/task.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="task.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/footer.css" />
    <style>
        /* Estilo del iframe para que parezca una consola */
        #consoleOutput {display: none;}
    </style>
</head>
<body>

    <script> 
        async function init() {

            let currentUser = new User(JSON.parse(sessionStorage.getItem("user")));
            let currentTask = new CoursesTask(JSON.parse(sessionStorage.getItem("task")));

            let loader = new Loader();
            await loader.loadDocumentCoursesTasks(currentTask.getTaskId());

            addValuesToUpload(currentTask);

            loadMenu(currentUser);

        }

        window.onload = init;
    </script>

    <!-- main menu-->
    <div id="menu">
    </div>
    
    <!-- Iframe oculto para recibir la respuesta sin redirigir la página -->
    <iframe id="consoleOutput" name="uploadTarget"></iframe>

    <div id="upload">
        <form id="file__form" action="/server/main.php" method="post" enctype="multipart/form-data" target="uploadTarget">
            <p>
                70MB max
                <input type="hidden" name="MAX_FILE_SIZE" value="70000000">
                <input type="file" name="Ficheros[]" multiple="multiple">
            </p>
            <p>
                <button type="submit" name="Enviar">Enviar</button>
                <button type="reset">Limpiar</button>
            </p>
        </form>
    </div>

    <div id="dowload">
    </div>

    <div id="footer">
    </div>

</body>
</html>