<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea</title>
    <script src="/public/assets/class/user.js"></script>
    <script src="/public/assets/class/coursesTask.js"></script>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/js/loader.js"></script>
    <script src="/public/assets/js/footer.js"></script>
    <script src="/public/view/commonViews/tasks/task.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="task.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/footer.css" />
</head>
<body class ="grid-container">

    <script> 
        async function init() {

            let currentUser = new User(JSON.parse(sessionStorage.getItem("user")));
            let newTask = JSON.parse(sessionStorage.getItem("newTask"));

            let loader = new Loader();
            let loc = "task";
            loadMenu(currentUser,loc);

            let statusSolution = "";
            let currentTask = "";
            let document = "";
            let statusHeader = newTask;

            if(newTask == "notNew"){    

                currentTask = new CoursesTask(JSON.parse(sessionStorage.getItem("task")));
                document = await loader.loadDocumentCoursesTasks(currentTask.getTaskId());

                statusSolution = document[0].documents[1].status;
                statusHeader = document[0].documents[0].status;

            }

            if(statusHeader == 'done' && statusSolution == 'done'){
                createTaskHeader(currentTask,document,statusHeader);
                createTaskBody(document,statusSolution);
            }else
                createTaskHeader(currentTask,document,statusHeader);

            loadFooter();

        }

        window.onload = init;
    </script>

    <header class="header" id="header"></header>
    <aside class="sidebar">
    </aside>
    <article class="main">
            <div id="taskHeader">
            </div>
            <div id="taskBody">
            </div>
    </article>
    <footer class="footer" id="footer"></footer>

</body>
</html>