<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <script src="courses.js"></script>
    <link rel="stylesheet" href="courses.css">
</head>
<body onload="printCourses()">
    

    <!-- main menu-->
    <div id="menu">
        <a href="/public/view/user/aboutUs/aboutUs.html" class="boton">Sobre nosotros</a>
        <a href="/public/view/user/courses/courses.html" class="boton">Cursos</a>
        <a href="/public/view/auth/login/login.html" class="boton">Login</a>
        <a href="/public/view/auth/register/register.html" class="boton">Registro</a>
    </div>

    <div id="courses">
    </div>

</body>
</html>