<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <script src="courses.js"></script>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/js/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="courses.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
</head>
<body>

    <script>
        
        let coursesList = [];

        async function init() {

            const currentUser = JSON.parse(sessionStorage.getItem("user"));

            let loader = new Loader(currentUser);  
            coursesList = await loader.loadDataCourses(currentUser.registration); 

            loadMenu(currentUser);
            printCourses();

        }

        window.onload = init;

    </script>

    <!-- main menu-->
    <div id="menu">
    </div>

    <div id="courses">
    </div>

</body>
</html>