<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <script src="courses.js"></script>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/js/loader.js"></script>
    <link rel="stylesheet" type="text/css" href="courses.css" />
</head>
<body>

    <script>
        
        let coursesList = []

        async function init() {

            let loader = new Loader();  
            coursesList = await loader.loadDataCourses(); 

            loadMenu();
            printCourses();

        }

        window.onload = init;

    </script>

    <!-- main menu-->
    <div id="menu">
    </div>

    <div id="courses">
    </div>

</body>
</html>