<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <link rel="icon" href="/Aula-Virtual/public/assets/icons/page-icon/favicon.png" type="image/x-icon">
    <title>Registro Aula Virtual</title>
    <script src="register.js"></script>
    <script src="/Aula-Virtual/public/assets/class/user.js"></script>
    <script src="/Aula-Virtual/public/assets/js/sendData.js"></script>
    <link rel="stylesheet" type="text/css" href="register.css" />
</head>
<body>
    <form class="form" method="post" action="http://localhost:8080/Aula-Virtual/server/main.php">
        <p class="title">Register </p>
        <p class="message" id="mensage">Signup now and get full access to our app. </p>
        <p class="mensageError" id="mensageError">Error en uno o multiples campos. </p>
            <div class="flex">
            <label>
                <input class="input" type="text" id="Name" placeholder="" required="">
                <span>Firstname</span>
            </label>
    
            <label>
                <input class="input" type="text" id="SureName" placeholder="" required="">
                <span>Lastname</span>
            </label>
        </div>  
                
        <label>
            <input class="input" type="text" id="User" placeholder="" required="">
            <span>UserName</span>
        </label>
        <label>
            <input class="input" type="text" id="Dni" placeholder="" required="">
            <span>Dni</span>
        </label>
        <label>
            <input class="input" type="email"  id="Mail" placeholder="" required="">
            <span>Email</span>
        </label> 
            
        <label>
            <input class="input" type="password" id="Pass" placeholder="" required="">
            <span>Password</span>
        </label>
        <label>
            <input class="input" type="password" id="Pass2" placeholder="" required="">
            <span>Confirm password</span>
        </label>
        <label>
            <span>¿Es profesor?:</span>
            <input type="checkbox" id="IsTeacher" value="1" />
        </label>
        <button type="button" class="submitButton" onclick="valueData()">Submit</button>
    </form>
</body>
</html>