<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/assets/icons/page-icon/favicon.png" type="image/x-icon">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="/public/assets/js/loader.js"></script>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/class/courses.js"></script>
    <script src="/public/assets/class/coursesTask.js"></script>
    <script src="/public/assets/class/user.js"></script>
    <script src="/public/assets/js/footer.js"></script>
    <script src="/public/assets/js/jquery-3.7.1.min.js"></script>
    <script src="admin.js"></script>
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/footer.css" />
    <title>Zona administrador</title>
</head>
<script>
        
    let coursesList = [];
    let usersList = [];
    let taskList = [];

    async function init() {

        let currentUser = new User(JSON.parse(sessionStorage.getItem("user")));
        let loader = new Loader(currentUser);  

        const coursesDataArray = await loader.loadAllDataCourses(); 
        coursesList = coursesDataArray.map(courseData => new Course(courseData));

        let loc = "adminDashboard";
        const userDataArray = await loader.loadDataUser();
        usersList = userDataArray.map(userData => new User(userData));

        const taskDataArray = await loader.loadAllDataCoursesTasks();
        taskList = taskDataArray.map(taskData => new CoursesTask(taskData));

        allUsersCardBuilder(usersList);
        allCoursesCardBuilder(coursesList);
        allTaskCardBuilder(taskList);
        loadMenu(currentUser,loc);
        loadFooter();

        $('#newUser').on('click',clickNewElement)
        $('#newCourse').on('click',clickNewElement)
        $('#newTask').on('click',clickNewElement)

    }

    window.onload = init;

</script>
<body class="grid-container">
    <header class="header" id="header"> </header>
    <article class="main">
        <div id="courses_list"></div>
        <div id="user_list"></div>
        <div id="task_list"></div>
    </article>
    <aside class="sidebar">
        <button id="newUser">Nuevo usuario</button>
        <button id="newCourse">Nuevo Curso</button>
        <button id="newTask">Nueva Tarea</button>
    </aside>
    <footer class="footer" id="footer"></footer>
</body>
</html>