<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Aula-Virtual/public/assets/icons/page-icon/favicon.png" type="image/x-icon">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <script src="/Aula-Virtual/public/assets/class/courses.js"></script>
    <script src="/Aula-Virtual/public/assets/class/coursesTask.js"></script>
    <script src="/Aula-Virtual/public/assets/class/user.js"></script>
    <script src="/Aula-Virtual/public/assets/class/document.js"></script>
    <script src="/Aula-Virtual/public/assets/js/loader.js"></script>
    <script src="/Aula-Virtual/public/assets/js/menu.js"></script>
    <script src="/Aula-Virtual/public/assets/js/footer.js"></script>
    <script src="/Aula-Virtual/public/assets/js/jquery-3.7.1.min.js"></script>
    <script src="admin.js"></script>
    <script src="filter.js"></script>
    <link rel="stylesheet" type="text/css" href="admin.css" />
    <link rel="stylesheet" type="text/css" href="/Aula-Virtual/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="/Aula-Virtual/public/assets/css/footer.css" />
    <title>Zona administrador</title>
</head>
<script>
        
    let coursesList = [];
    let usersList = [];
    let taskList = [];
    let documentList = [];

    async function init() {

        let currentUser = new User(JSON.parse(sessionStorage.getItem("user")));
        let loader = new Loader(currentUser);  

        const coursesDataArray = await loader.loadAllDataCourses(); 
        coursesList = coursesDataArray.map(courseData => new Course(courseData));

        let loc = "adminDashboard";
        const userDataArray = await loader.loadDataUser();
        usersList = userDataArray.map(userData => new User(userData));

        const taskDataArray = await loader.loadAllDataCoursesTasks();
        taskList = taskDataArray.map(taskData => new CoursesTask(taskData));

        const documentDataArray = await loader.loadAllDocumentCoursesTasks();
        documentList = documentDataArray.map(documentData => new Document(documentData));

        allUsersCardBuilder(usersList);
        allCoursesCardBuilder(coursesList);
        allTaskCardBuilder(taskList);
        allDocumentCardBuilder(documentList);
        loadMenu(currentUser,loc);
        filterEventCreator();
        loadFooter();

        $('#newUser').on('click',clickNewElement);
        $('#newCourse').on('click',clickNewElement);
        $('#newTask').on('click',clickNewElement);
        $('#newDocument').on('click',clickNewElement);

        // Event listeners para cada select
        $('#realignmentCourses').on('change', function() {
            const selectedValue = $(this).val();
            reorderList(coursesList, selectedValue, 'courses');
        });

        $('#realignmentUsers').on('change', function() {
            const selectedValue = $(this).val();
            reorderList(usersList, selectedValue, 'users');
        });

        $('#realignmentTasks').on('change', function() {
            const selectedValue = $(this).val();
            reorderList(taskList, selectedValue, 'tasks');
        });

        $('#realignmentDocuments').on('change', function() {
            const selectedValue = $(this).val();
            reorderList(documentList, selectedValue, 'documents');
        });

    }

    window.onload = init;

</script>
<body class="grid-container">
    <header class="header" id="header"> </header>
    <article class="main">
        <div id="courses_container">
            <div id="courses_list"></div>
        </div>
        <div id="user_container">
            <div id="user_list"></div>
        </div>
        <div id="task_container">
            <div id="task_list"></div>
        </div>
        <div id="document_container">
            <div id="document_list"></div>
        </div>
    </article>
    <aside class="sidebar">
        <button id="newUser">Nuevo usuario</button>
        <button id="newCourse">Nuevo Curso</button>
        <button id="newTask">Nueva Tarea</button>
        <button id="newDocument">Nuevo Documento</button>
        <div>
            <!-- Filtro de Cursos -->
            <div class="filter">
                <label for="course-title">Filtrar por título del curso</label>
                <input type="text" id="course-title" placeholder="Título del curso">
            </div>

            <!-- Filtro de Usuarios -->
            <div class="filter">
                <label for="user-username">Filtrar por nombre de usuario</label>
                <input type="text" id="user-username" placeholder="Nombre de usuario">
            </div>
            <div class="filter">
                <label for="user-name">Filtrar por nombre</label>
                <input type="text" id="user-name" placeholder="Nombre">
            </div>
            <div class="filter">
                <label for="user-surname">Filtrar por apellidos</label>
                <input type="text" id="user-surname" placeholder="Apellidos">
            </div>

            <!-- Filtro de Tareas -->
            <div class="filter">
                <label for="task-name">Filtrar por nombre de tarea</label>
                <input type="text" id="task-name" placeholder="Nombre de la tarea">
            </div>

            <!-- Filtro de Documentos -->
            <div class="filter">
                <label for="document-type">Filtrar por tipo de documento</label>
                <select id="document-type">
                    <option value="">Seleccione tipo</option>
                    <option value="Enunciado">Enunciado</option>
                    <option value="Solucion">Solución</option>
                </select>
            </div>
            <div class="filter">
                <label for="document-task">Filtrar por tarea</label>
                <input type="number" id="document-task" placeholder="ID de tarea">
            </div>
        </div>
    </aside>
    <footer class="footer" id="footer"></footer>
</body>
</html>