<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    <script src="/public/assets/js/menu.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
</head>
<body>
    <script> 

        async function init() {

            const currentUser = JSON.parse(sessionStorage.getItem("user"));

            loadMenu(currentUser);
            const currentCourse = JSON.parse(sessionStorage.getItem("course"));
            console.log(currentCourse);

        }

        window.onload = init;

    </script>

    <!-- main menu-->
    <div id="menu">
    </div>

    <div id="task">
    </div>
    
</body>
</html>