<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso</title>
    <script src="/public/assets/js/menu.js"></script>
    <script src="/public/assets/js/loader.js"></script>
    <script src="/public/assets/class/courses.js"></script>
    <script src="/public/assets/class/coursesTask.js"></script>
    <script src="/public/assets/class/user.js"></script>
    <script src="/public/assets/js/footer.js"></script>
    <script src="/public/view/commonViews/coursesTasks/coursesTask.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/assets/css/menu.css" />
    <link rel="stylesheet" type="text/css" href="coursesTask.css" />
    <link rel="stylesheet" type="text/css" href="/public/assets/css/footer.css" />
</head>
<body class="grid-container">
    <script> 

        async function init() {

            let currentUser = new User(JSON.parse(sessionStorage.getItem("user")));
            let currentCourse = new Course(JSON.parse(sessionStorage.getItem("course")));
            
            let loader = new Loader();
            let loc = "coursesTask";
            loadMenu(currentUser,loc);

            let coursesTaskList = await loader.loadDataCoursesTasks(currentCourse.getId());
            coursesTaskList.forEach(element => {
                
                let task = new CoursesTask(element);
                currentCourse.setTask(task)

            });

            buildSideBar(currentCourse,coursesTaskList);
            printTask(currentCourse);
            loadFooter();

        }

        window.onload = init;

    </script>

    <header class="header" id="header"> </header>
    <aside class="sidebar">
        <div id="sideBar">
            <hr>
            <h1 id="bar__title">not see</h1>
            <div id="bar__p">not see</div>
            <hr>
            <h3 id="bar__SecTitle">Opciones:</h3>
            <div id="bar__utilities">
                <div id="bar__utilOp">
                    <img id="bar__img" src="/public/assets/icons/media-icons/add-file-32px.png">Crear entrega
                </div>
                <div id="bar__utilOp">
                    <img id="bar__img" src="/public/assets/icons/media-icons/pencil-32px.png">Ordenar de forma:
                    <select id="realignment">
                        <option>Ascendente</option>
                        <option>Descendente</option>
                    </select>
                </div>
            </div>
            <hr>
        </div>
    </aside>
    <article class="main">
        <div id="taskContainer">
        </div>
    </article>
    <footer class="footer" id="footer"></footer>
    
</body>
</html>